<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066367324210-4gi186va8d9lg6vorkhu1do8k6jcj70j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066367324210-4gi186va8d9lg6vorkhu1do8k6jcj70j</string>
	<key>API_KEY</key>
	<string>AIzaSyBMFBBCcbCmbOYlCGun7ysE8EUN97JAW68</string>
	<key>GCM_SENDER_ID</key>
	<string>1066367324210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kv.review.manager</string>
	<key>PROJECT_ID</key>
	<string>review-manager-951b5</string>
	<key>STORAGE_BUCKET</key>
	<string>review-manager-951b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066367324210:ios:e2fb350663b4614a33ac2b</string>
</dict>
</plist>